@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body{
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
  scroll-behavior: smooth;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 350px;
}

*{
  /*transition: .3s;*/
  /*font-family: 'Josefin Sans';*/
  font-family: 'Open Sans', sans-serif;
  /*color: #4c4c4c;*/
}

/* Navigation positioning, style, colors -- Hover effects for buttons */
#Initial-Signature{
  position: absolute;
  height: 60px;
  width: 100px;
  color: white;
  text-align: center;
  font-size: 12px;
}

#Initial-Signature button{
  border: none;
  color: white;
  background: transparent;
  width: 125px;
  height: 60px;
  cursor: pointer;
}

/*#Initial-Signature:hover{*/
/*  animation: Signature-Wiggle 1s 1 ease-in-out;*/
/*  animation-fill-mode: forwards;*/
/*}*/

#Navbar{
  position: sticky;
  top: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  max-width: 1920px;
  background-color: rgba(50,76,115,1);
  z-index: 3;
  border-bottom: 2px solid rgba(50,75,105,1);
}

#Navbar-Drop-Down{
  position: relative;
  width: 125px;
  height: 0px;
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0;
}

.Navbar-Button{
  border: none;
  background-color: rgba(50,76,115,.8);
  cursor: pointer;
  color: rgba(255,255,255,1);
  font-size: 16px;
  padding: 0% 20px 0% 20px;
  height: 50px;
  width: 100%;
  transition: .2s;
}

/* Changing of button backgorund color on hover */
.Navbar-Button:hover{
  background-color: rgba(101,130,180,1);
  transition: .2s;
}

#Projects-Nav-Link{
  position: absolute;
  display: inline-block;
  right: 125px;
  width: 125px;
}

#Projects-Nav-Link button{
  height: 60px;
  width: 100%;
}

#Drop-Down-Button{
  position: relative;
  width: 100%;
  height: 60px;
  z-index: 4;
  background: transparent;
}

/* Makes drop down menu arrow invisible until hovered over */
#Drop-Down-Button span{
  position: absolute;
  top: 40px;
  left: 60px;
  font-size: 10px;
  opacity: 0;
}

.Drop-Down-Content{
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0px;
  z-index: -1;
  border: black 2px;
}
/* Makes drop down menu links invisible until hovered over */
.Drop-Down-Content li{
  height: 0px;
  transition: .3s;
  opacity: 0;
}

/* Display hidden drop down menu on hover of "Contact" button */
#Navbar-Drop-Down:hover .Drop-Down-Content{
  display: block;
  top: 60px;
}

/* Unveils hidden dropdown arrow when hovering over "Contact" button */
#Navbar-Drop-Down:hover #Drop-Down-Button span{
  opacity: 1;
  transition: .5s;
}

/* Takes drop down menu social media links from being hidden "opacity:0" to shown on the screen "opacity:1" -- Gives drop down effect as it transitions from 0px height to 50px height*/
#Navbar-Drop-Down:hover .Drop-Down-Content li{
  height: 50px;
  opacity: 1;
  transition: .8s;
}

/* Keeps "Contact" button glowing with background color while navigating through drop down menu*/
#Navbar-Drop-Down:hover, .Navbar-Button .Drop-Down-Button{
  background-color: rgba(101,130,180,1);
}

/* Formatting of main body */
#Entire-Page-Container{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#Welcome-Page-Container{
  position: relative;
  display: flex;
  margin: 0 auto;
  height: 830px;
  width: 100%;
  max-width: 1920px;
  min-width: 300px;
  font-family: 'Josefin Sans';
  color: white;
  font-size: 30px;
  background-image: url(https://images.unsplash.com/photo-1482440308425-276ad0f28b19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Customization of text, buttons, images of home page -- Hover effects of home page button */
#Welcome-Page-Content{
  position: relative;
  top: 20%;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-left: 50px;
}

#Welcome-Page-Content h1{
    line-height: 70px;
}

#Welcome-Page-Content p{
  position: relative;
  top: -35px;
}

#Explore-My-Work-Button{
  position: relative;
  top: -40px;
  width: 200px;
  height: 40px;
  color: rgba(255,255,255,.8);
  font-size: 15px;
  font-family: 'Josefin Sans';
  font-weight: 500;
  border: 0px solid white;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  background: rgba(50,76,115,.6);
  transition: .3s ;
}

/* Color change of "Explore" button on hover*/
#Explore-My-Work-Button:hover{
  background: rgba(50,76,115,1);
  color: rgba(255,255,255,1);
  transition: .6s;
}


/* Formatting of grid for project links, images, text, and overlays */
#My-Projects-Container{
  position: relative;
  height: 800px;
  width: 100%;
  max-width: 1920px;
  min-width: 300px;
  background: rgba(210,210,210,1);
  margin: 0 auto;
  padding-top: 80px;
}

#Projects-Header{
  text-align: center;
  width: 625px;
  margin: 0 auto;
  margin-bottom: 5%;
  color: rgba(50,76,115,1);
}

#Project-Link-Container{
  display: grid;
  grid-template-rows: 330px 330px;
  grid-template-columns: 330px 330px;
  height: 99%;
  justify-items: center;
  justify-content: center;
  align-content: start;
}

.Project-Link{
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  top: 0;
}

.Project-Img-Links{
  width: 100%;
  height: 100%;
  transition: .8s;
}

/* Project image zoom on hover */
.Project-Link:hover .Project-Img-Links{
  transform: scale(1.08);
  transition: .8s;
}

/* Overlay content of project images/links */
.Project-Overlay-Container{
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 75%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(50,76,115,.9);
  transition: .5s;
  z-index: 1;
}

.Project-Overlay-Text{
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  top: 0%;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.Project-Title-Br{
  display: none;
}

.Project-Overlay-Text span{
  font-size: 12px;
  font-weight: 100;
}

/* Overlaying blue box over project image links on hover */
.Project-Link:hover .Project-Overlay-Container{
  z-index: 1;
  top: 0;
  transition: .5s;
}

/* Overlaying text contained in blue box over project image links on hover */
.Project-Link:hover .Project-Overlay-Text{
  top: 105px;
  border: 2px solid white;
  border-width: 2px 0 2px 0;
  animation: Project-Title-Width-Grow 1s 1;
}

/* Break in Project-Overlay-Text on hover, so text is stacked taller, instead of longer */
.Project-Link:hover .Project-Title-Br{
  display: block;
}

/* Formatting of contact links and images */
#Contact-Page-Container{
  position: relative;
  width: 100%;
  height: 20%;
  min-height: 175px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1920px;
  padding-top: 30px;
  padding-bottom: 40px;
  background: rgba(50,76,115,1);
  text-align: center;
  color: white;
  font-size: 13px;
}

#Contact-Page-Container a{
  color: white;
  transition: 0s;
}

/* Underline hover effect of all clickable links in contact area */
#Contact-Page-Container a:hover{
  color: white;
  text-decoration: underline;
  transition: 0s;
}

#Contact-Links-Ul-Container{
  width: 50%;
  margin: 0 auto;
}

#Contact-Links-Ul{
  list-style: none;
  list-style-position: inside;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

/* Formatting of contact logos */
.Contact-Links-Img{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  transition: .2s;
}

/* Zoom effect of contact logos on hover */
.Contact-Links-Img:hover{
  transform: scale(1.15);
  transition: .2s;
}

/* Formatting of footer credits*/
.Footer-And-Credits{
  margin-left: 20px;
  margin-right: 20px;
}

#Footer-hr{
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

a{
  text-decoration: none;
}

/* Breaks in welcome page "Hello..." sentence for it to look clean on desktop vs. mobile */
#Desktop-br{
  display: block;
}

#Cellphone-br{
  display: none;
}

/* Growing the width of the project image overlay text by 45% */
@keyframes Project-Title-Width-Grow{
  from {width: 45%;}
  to {width: 90%;}
}

@keyframes Signature-Wiggle{
  0% {transform: rotate(-360deg); }
  100% {transform: rotate(0deg);}
}

@media screen and (max-width:750px){

  /* Changing of background image on mobile vs. dekstop */
  #Welcome-Page-Container{
    background-image: url("https://images.unsplash.com/photo-1519332978332-21b7d621d05e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-position: top center;
  }

  /* Formatting of welcome text slogan on mobile */
  #Welcome-Page-Content{
    width: 100%;
    top: 4%;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    padding: 0;
  }

  #Welcome-Page-Content h1{
    line-height: 55px;
  }

  #My-Projects-Container{
    height: 220%;
    min-height: 1550px;
    max-height: 1600px;
  }

  /* Minor adjustments to div sizes, positions on mobile*/
  #Projects-Header{
    margin-bottom: 0;
    width: 50%;
    min-width: 300px;
    padding: 5px 10px 0 10px;
    line-height: 42px
  }

  #Project-Link-Container{
    grid-template-rows: 325px 330px 330px 330px;
    grid-template-columns: 500px;
    align-content: start;
    align-items: end;
    align-self: center;
  }

  #Contact-Page-Container{
    height: 35%;
    max-height: 200px;
  }

  /* Breaks in welcome page "Hello..." sentence for it to look clean on desktop vs. mobile */
  #Desktop-br{
    display: none;
  }

  #Cellphone-br{
    display: block;
  }

}

button.disabled
{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

a.disabled
{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
}

.tasks-body{
  background: gainsboro;
}

.tasks-container {
  display: flex;
  flex: 1;
  padding-top: 5px;
}

.tasks-main {
  display: grid;
  flex: 1;
  background: rgba(50,75,115,1);
  box-shadow: white;
  max-width: 1075px;
  margin-left: 100px;
  border-radius: 5px;
}

.h-main-tasks{
  display: grid;
  justify-content: center;
  color: white;
}

.main-tasks-content{
  display: grid;
  color: white;
  justify-items: center;
  justify-content: space-around;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 330px 330px;
}

.tasks-nav {
  flex: 0 0 200px;
  padding: 0 10px;
  margin-left: 10px;
  order: -1;
  background: rgba(50,75,115,1);
  border-radius: 5px;
}

.h-nav-tasks{
  display: grid;
  justify-items: center;
  color: white;
  margin-top: 5px;
}
